body {
  color: rgb(27, 36, 37);
  background: #eee7e7;
}

h1, h2, h3, h4, h5, h6 {
  color: #123b3b;
}

h1 a, h2 a {
  color: orange;
  font-family: 'Lobster';
}

ul {
  margin: 0;
}

.inner {
  margin-top: 160px;
}

.naslov-blog {
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.logo {
  color: #8d8c8c;
  padding-right: 50px;
  font-size: 22px;
}

.kolona {
  margin-top: 80px;
}

.bg-steel {
  background-color: #495f6e;
}

.site-header .navbar-nav .nav-link {
  color: #e1e5e7;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.about-container, .container-logout, .contact-container, .reg-cont {
  margin-top: 100px;
}

.posts {
  border: 1px solid black;
  margin: 5px;
  padding: 40px;
}

.footer h1 {
  font-size: 12px;
}
